/* Error: There is no module with the namespace "mixins".
 *   ,
 * 8 |     @include mixins.easeOut();
 *   |     ^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   scss\_menu.scss 8:5  @use
 *   scss\main.scss 4:1   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "mixins".\a   \2577 \a 8 \2502      @include mixins.easeOut();\d\a   \2502      ^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   scss\\_menu.scss 8:5  @use\a   scss\\main.scss 4:1   root stylesheet';
}
